{
    "openapi": "3.1.0",
    "info": {
        "title": "Papr Memory API",
        "description": "API for managing personal memory items with authentication and user-specific data.\n    \n    ## Authentication\n    This API supports three authentication methods:\n    \n    - **API Key**: Include your API key in the `X-API-Key` header\n      ```\n      X-API-Key: <your-api-key>\n      ```\n    \n    - **Session Token**: Include your session token in the `X-Session-Token` header\n      ```\n      X-Session-Token: <your-session-token>\n      ```\n    \n    - **Bearer Token**: Include your OAuth2 token from Auth0 in the `Authorization` header\n      ```\n      Authorization: Bearer <token>\n      ```\n    \n    All endpoints require one of these authentication methods.\n    ",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://memory.papr.ai",
            "description": "Production server"
        }
    ],
    "paths": {
        "/add_memory": {
            "post": {
                "summary": "Add Memory",
                "description": "Add a new memory item to the system with size validation and background processing.\nThis endpoint allows storing text content with optional metadata and supports background\nprocessing for semantic search optimization.\n**Key Features:**\n- Add a new memory item to the system\n- Validate content size against MAX_CONTENT_LENGTH environment variable (defaults to 15000 bytes)\n- Support background processing for semantic search optimization\n- Requires valid Authorization header (Bearer token or Session token)\n- Requires Content-Type: application/json header\n- Requires X-Client-Type header (e.g., 'papr_plugin', 'browser_extension')\n**Request Examples:**\n1. Basic memory creation:\n```\n{\n    \"content\": \"Memory content text\"\n}\n```\n2. Memory with metadata:\n```\n{\n    \"content\": \"Memory content text\",\n    \"type\": \"note|meeting|task|etc\",\n    \"metadata\": {\n        \"tags\": [\"tag1\", \"tag2\"],\n        \"participants\": [\"user@example.com\"],\n        \"project_id\": \"proj-123\",\n        ...\n    }\n}\n```\n3. Memory with context and metadata:\n```\n{\n    \"content\": \"Memory content text\",\n    \"type\": \"note|meeting|task|etc\",\n    \"metadata\": {\n        \"tags\": [\"tag1\", \"tag2\"],\n        \"participants\": [\"user@example.com\"],\n        \"project_id\": \"proj-123\",\n        ...\n    },\n    \"context\": {\n        \"source\": \"email|chat|document\",\n        \"thread_id\": \"thread-456\",\n        \"related_docs\": [\"doc-789\"]\n    }\n}\n```\n**Response Examples:**\n200 OK:\n```\n{\n    \"code\": 200,\n    \"status\": \"success\",\n    \"data\": [\n        {\n            \"id\": \"memory-id-123\",\n            \"metadata\": {\n                \"tags\": [\"tag1\", \"tag2\"],\n                \"participants\": [\"user@example.com\"],\n                \"project_id\": \"proj-123\",\n                ...\n            }\n        }\n    ]\n}\n```\n207 Partial Content:\n```\n{\n    \"code\": 207,\n    \"status\": \"partial success\",\n    \"data\": [\n        {\n            \"id\": \"memory-id-123\",\n            \"metadata\": {\n                \"tags\": [\"tag1\", \"tag2\"],\n                \"participants\": [\"user@example.com\"],\n                \"project_id\": \"proj-123\",\n                ...\n            }\n        }\n    ]\n}\n```\n400 Bad Request:\n```\n{\n    \"code\": 400,\n    \"detail\": \"Invalid request data\"\n}\n```\n401 Unauthorized:\n```\n{\n    \"code\": 401,\n    \"detail\": \"Invalid access token\"\n}\n```\n403 Forbidden:\n```\n{\n    \"code\": 403,\n    \"detail\": \"Subscription limit reached\"\n}\n```\n413 Payload Too Large:\n```\n{\n    \"code\": 413,\n    \"detail\": \"Content size (15001 bytes) exceeds maximum limit of 15000 bytes\"\n}\n```\n415 Unsupported Media Type:\n```\n{\n    \"code\": 415,\n    \"detail\": \"Unsupported Media Type\"\n}\n```\n500 Internal Server Error:\n```\n{\n    \"code\": 500,\n    \"detail\": \"Internal server error\"\n}\n```",
                "operationId": "add_memory_add_memory_post",
                "parameters": [
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "If True, skips adding background tasks for processing",
                            "default": false,
                            "title": "Skip Background Processing"
                        },
                        "description": "If True, skips adding background tasks for processing"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AddMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Memory Add Memory Post",
                                    "$ref": "#/components/schemas/AddMemoryResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Memory added with degraded functionality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "Basic memory creation": {
                                    "summary": "Basic memory creation",
                                    "value": {
                                        "content": "Memory content text"
                                    }
                                },
                                "Memory with metadata": {
                                    "summary": "Memory with metadata",
                                    "value": {
                                        "content": "Memory content text",
                                        "type": "note|meeting|task|etc",
                                        "metadata": {
                                            "tags": [
                                                "tag1",
                                                "tag2"
                                            ],
                                            "participants": [
                                                "user@example.com"
                                            ],
                                            "project_id": "proj-123"
                                        }
                                    }
                                },
                                "Memory with context and metadata": {
                                    "summary": "Memory with context and metadata",
                                    "value": {
                                        "content": "Memory content text",
                                        "type": "note|meeting|task|etc",
                                        "metadata": {
                                            "tags": [
                                                "tag1",
                                                "tag2"
                                            ],
                                            "participants": [
                                                "user@example.com"
                                            ],
                                            "project_id": "proj-123"
                                        },
                                        "context": {
                                            "source": "email|chat|document",
                                            "thread_id": "thread-456",
                                            "related_docs": [
                                                "doc-789"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/add_memory_batch": {
            "post": {
                "summary": "Add Memory Batch",
                "description": "Add multiple memory items in a batch.\n\nArgs:\n    request (Request): FastAPI request object containing array of memory items\n    response (Response): FastAPI response object for setting status codes\n    background_tasks (BackgroundTasks): FastAPI background tasks handler\n    skip_background_processing (bool, optional): Skip background processing if True. Defaults to False.\n    batch_size (int, optional): Number of items to process in parallel. Defaults to 10.\n\nReturns:\n    Union[BatchMemoryResponse, ErrorDetail]: Either:\n        - BatchMemoryResponse containing:\n            - successful: List of successfully processed items\n            - errors: List of failed items with error details\n            - total_processed: Total number of items processed\n            - total_successful: Number of successful items\n            - total_failed: Number of failed items\n            - total_content_size: Total size of content in bytes\n            - total_storage_size: Total storage size in bytes\n        - ErrorDetail containing:\n            - code: HTTP status code (400, 401, etc.)\n            - detail: Error message\n\nRaises:\n    No exceptions are raised - all errors are returned as ErrorDetail responses",
                "operationId": "add_memory_batch_add_memory_batch_post",
                "parameters": [
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Skip Background Processing"
                        }
                    },
                    {
                        "name": "batch_size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "title": "Batch Size"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/BatchMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Memory Batch Add Memory Batch Post",
                                    "$ref": "#/components/schemas/BatchMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/add_memory/{tenant_subtenant}/{connector}/{stream}": {
            "post": {
                "summary": "Add Memory With Details",
                "description": "Add a memory item with tenant/connector/stream details.\n\nArgs:\n    request (Request): FastAPI request object containing the memory data\n    response (Response): FastAPI response object for setting status codes\n    tenant_subtenant (str): Combined tenant and subtenant IDs in format 'tenant_subtenant'\n    connector (str): The connector type (e.g., 'slack', 'gmail')\n    stream (str): The data stream identifier\n    background_tasks (BackgroundTasks): FastAPI background tasks handler\n    skip_background_processing (bool, optional): Skip background processing if True. Defaults to False.\n\nReturns:\n    Union[AddMemoryResponse, ErrorDetail]: Either:\n        - AddMemoryResponse containing:\n            - code: Status code ('SUCCESS' or other)\n            - status: Status message\n            - data: List of added memory items\n        - ErrorDetail containing:\n            - code: HTTP status code (400, 401, etc.)\n            - detail: Error message\n\nRaises:\n    No exceptions are raised - all errors are returned as ErrorDetail responses",
                "operationId": "add_memory_with_details_add_memory__tenant_subtenant___connector___stream__post",
                "parameters": [
                    {
                        "name": "tenant_subtenant",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Tenant Subtenant"
                        }
                    },
                    {
                        "name": "connector",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Connector"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Stream"
                        }
                    },
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Skip Background Processing"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AddMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Memory With Details Add Memory  Tenant Subtenant   Connector   Stream  Post",
                                    "$ref": "#/components/schemas/AddMemoryResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Memory added with degraded functionality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/add_memory_batch/{tenant_subtenant}/{connector}/{stream}": {
            "post": {
                "summary": "Add Memory Batch With Details",
                "description": "Add multiple memory items in a batch with tenant details.",
                "operationId": "add_memory_batch_with_details_add_memory_batch__tenant_subtenant___connector___stream__post",
                "parameters": [
                    {
                        "name": "tenant_subtenant",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Tenant Subtenant"
                        }
                    },
                    {
                        "name": "connector",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Connector"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Stream"
                        }
                    },
                    {
                        "name": "batch_size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 5,
                            "title": "Batch Size"
                        }
                    },
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Skip Background Processing"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/BatchMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Memory Batch With Details Add Memory Batch  Tenant Subtenant   Connector   Stream  Post",
                                    "$ref": "#/components/schemas/BatchMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get_memory": {
            "post": {
                "summary": "Get Memory",
                "description": "Retrieve relevant memory items based on query and context.\n\nArgs:\n    request (Request): FastAPI request object\n    response (Response): FastAPI response object\n    max_memory_items (int): Maximum number of memory items to return (default: 15, max: 50)\n    max_neo_items (int): Maximum number of neo nodes to return (default: 15, max: 50)\n\nReturns:\n    Union[GetMemoryResponse, ErrorDetail]: Contains list of relevant memory items or error details",
                "operationId": "get_memory_get_memory_post",
                "parameters": [
                    {
                        "name": "max_memory_items",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Maximum number of memory items to return",
                            "default": 20,
                            "title": "Max Memory Items"
                        },
                        "description": "Maximum number of memory items to return"
                    },
                    {
                        "name": "max_neo_items",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Maximum number of neo nodes to return",
                            "default": 15,
                            "title": "Max Neo Items"
                        },
                        "description": "Maximum number of neo nodes to return"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved memories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/GetMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Get Memory Get Memory Post",
                                    "$ref": "#/components/schemas/GetMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No relevant items found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/delete_memory": {
            "delete": {
                "summary": "Delete Memory",
                "description": "Delete a memory item by ID.\n\nArgs:\n    request (Request): FastAPI request object\n    response (Response): FastAPI response object\n    id (str): ID of the memory to delete\n    skip_parse (bool): Skip Parse Server deletion if True\n\nReturns:\n    Union[DeleteMemoryResponse, ErrorDetail]: Either:\n        - DeleteMemoryResponse containing:\n            - message: Optional success message\n            - error: Optional error message\n            - memoryId: ID of the deleted memory\n            - objectId: Parse Server object ID\n            - status: DeletionStatus for each system\n            - code: Status code string\n        - ErrorDetail containing:\n            - code: HTTP status code\n            - detail: Error message",
                "operationId": "delete_memory_delete_memory_delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the memory to delete",
                            "title": "Id"
                        },
                        "description": "ID of the memory to delete"
                    },
                    {
                        "name": "skip_parse",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Skip Parse Server deletion",
                            "default": false,
                            "title": "Skip Parse"
                        },
                        "description": "Skip Parse Server deletion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/DeleteMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Delete Memory Delete Memory Delete",
                                    "$ref": "#/components/schemas/DeleteMemoryResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Partially successful deletion",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Memory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/update_memory": {
            "put": {
                "summary": "Update Memory",
                "description": "Update a memory item by ID.\n\nArgs:\n    request (Request): FastAPI request object\n    response (Response): FastAPI response object for setting status codes\n    id (str): ID of the memory to update (passed as query parameter)\n    content (Optional[str]): New content for the memory\n    metadata (Optional[Dict]): Updated metadata\n    type (Optional[str]): Type of memory\n    background_tasks (BackgroundTasks): FastAPI background tasks handler\n\nReturns:\n    Union[UpdateMemoryResponse, ErrorDetail]: Either:\n        - UpdateMemoryResponse containing:\n            - items: List of updated memory items\n            - status: System update status (pinecone, neo4j, parse)\n        - ErrorDetail containing:\n            - code: HTTP status code (400, 401, etc.)\n            - detail: Error message",
                "operationId": "update_memory_update_memory_put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID of the memory to update",
                            "title": "Id"
                        },
                        "description": "ID of the memory to update"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_update_memory_update_memory_put"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Memory successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/UpdateMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Update Memory Update Memory Put",
                                    "$ref": "#/components/schemas/UpdateMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Memory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/add_document": {
            "post": {
                "summary": "Add Document",
                "description": "Add a document (PDF/HTML/TXT) with progress tracking.\n\nArgs:\n    request (Request): FastAPI request object containing the document file\n    response (Response): FastAPI response object for setting status codes\n    background_tasks (BackgroundTasks): FastAPI background tasks handler\n    skip_background_processing (bool): Skip background processing if True\n    post_objectId (Optional[str]): Optional Post objectId for updating status\n\nReturns:\n    Union[DocumentUploadResponse, ErrorDetail]: Either:\n        - DocumentUploadResponse containing:\n            - message: Status message\n            - upload_id: Unique ID for tracking upload progress\n            - status: Current status (processing/processing_degraded)\n            - memory_items: List of created memory items\n        - ErrorDetail containing:\n            - code: HTTP status code (400, 401, etc.)\n            - detail: Error message",
                "operationId": "add_document_add_document_post",
                "parameters": [
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "If True, skips adding background tasks for processing",
                            "default": false,
                            "title": "Skip Background Processing"
                        },
                        "description": "If True, skips adding background tasks for processing"
                    },
                    {
                        "name": "post_objectId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Optional Post objectId for updating status",
                            "title": "Post Objectid"
                        },
                        "description": "Optional Post objectId for updating status"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document upload started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/DocumentUploadResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Document Add Document Post",
                                    "$ref": "#/components/schemas/DocumentUploadResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Document upload started with degraded functionality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentUploadResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/document_status/{upload_id}": {
            "get": {
                "summary": "Get Document Status",
                "description": "Get the processing status of a document upload.\n\nArgs:\n    upload_id (str): Unique identifier for the document upload\n    request (Request): FastAPI request object\n    response (Response): FastAPI response object for setting status codes\n\nReturns:\n    Union[DocumentUploadStatus, ErrorDetail]: Either:\n        - DocumentUploadStatus containing:\n            - status: Current processing status\n            - progress: Processing progress (0.0 to 1.0)\n            - current_page: Current page being processed\n            - total_pages: Total number of pages\n            - current_filename: Name of file being processed\n            - error: Error message if any\n        - ErrorDetail containing:\n            - code: HTTP status code (401, 404, etc.)\n            - detail: Error message",
                "operationId": "get_document_status_document_status__upload_id__get",
                "parameters": [
                    {
                        "name": "upload_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Upload Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document processing status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/DocumentUploadStatus"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Get Document Status Document Status  Upload Id  Get",
                                    "$ref": "#/components/schemas/DocumentUploadStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Upload ID not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/memory": {
            "post": {
                "tags": [
                    "v1"
                ],
                "summary": "Add Memory V1",
                "description": "Add a new memory item to the system with size validation and background processing.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Required Headers**:\n    - Content-Type: application/json\n    - X-Client-Type: (e.g., 'papr_plugin', 'browser_extension')\n    \n    The API validates content size against MAX_CONTENT_LENGTH environment variable (defaults to 15000 bytes).",
                "operationId": "add_memory_v1_v1_memory_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "If True, skips adding background tasks for processing",
                            "default": false,
                            "title": "Skip Background Processing"
                        },
                        "description": "If True, skips adding background tasks for processing"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddMemoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Memory successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AddMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Memory V1 V1 Memory Post",
                                    "$ref": "#/components/schemas/AddMemoryResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Memory added with degraded functionality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/memory/{memory_id}": {
            "put": {
                "tags": [
                    "v1"
                ],
                "summary": "Update Memory V1",
                "description": "Update an existing memory item by ID.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Required Headers**:\n    - Content-Type: application/json\n    - X-Client-Type: (e.g., 'papr_plugin', 'browser_extension')\n    \n    The API validates content size against MAX_CONTENT_LENGTH environment variable (defaults to 15000 bytes).",
                "operationId": "update_memory_v1_v1_memory__memory_id__put",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "memory_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Memory Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMemoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Memory successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/UpdateMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Update Memory V1 V1 Memory  Memory Id  Put",
                                    "$ref": "#/components/schemas/UpdateMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Memory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "v1"
                ],
                "summary": "Delete Memory V1",
                "description": "Delete a memory item by ID.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Required Headers**:\n    - X-Client-Type: (e.g., 'papr_plugin', 'browser_extension')",
                "operationId": "delete_memory_v1_v1_memory__memory_id__delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "memory_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Memory Id"
                        }
                    },
                    {
                        "name": "skip_parse",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Skip Parse Server deletion",
                            "default": false,
                            "title": "Skip Parse"
                        },
                        "description": "Skip Parse Server deletion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/DeleteMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Delete Memory V1 V1 Memory  Memory Id  Delete",
                                    "$ref": "#/components/schemas/DeleteMemoryResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Partially successful deletion",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Memory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "v1"
                ],
                "summary": "Get Memory V1",
                "description": "Retrieve a memory item by ID.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Required Headers**:\n    - X-Client-Type: (e.g., 'papr_plugin', 'browser_extension')",
                "operationId": "get_memory_v1_v1_memory__memory_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "memory_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Memory Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Memory successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/SearchResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Get Memory V1 V1 Memory  Memory Id  Get",
                                    "$ref": "#/components/schemas/SearchResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Memory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/memory/batch": {
            "post": {
                "tags": [
                    "v1"
                ],
                "summary": "Add Memory Batch V1",
                "description": "Add multiple memory items in a batch with size validation and background processing.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Required Headers**:\n    - Content-Type: application/json\n    - X-Client-Type: (e.g., 'papr_plugin', 'browser_extension')\n    \n    The API validates individual memory content size against MAX_CONTENT_LENGTH environment variable (defaults to 15000 bytes).",
                "operationId": "add_memory_batch_v1_v1_memory_batch_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "If True, skips adding background tasks for processing",
                            "default": false,
                            "title": "Skip Background Processing"
                        },
                        "description": "If True, skips adding background tasks for processing"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchMemoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Memories successfully added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/BatchMemoryResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Add Memory Batch V1 V1 Memory Batch Post",
                                    "$ref": "#/components/schemas/BatchMemoryResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Partial success - some memories failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchMemoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content too large",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/document": {
            "post": {
                "tags": [
                    "v1"
                ],
                "summary": "Upload Document V1",
                "description": "Upload a document (PDF/HTML/TXT) to be processed and added to memory.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Required Headers**:\n    - Content-Type: multipart/form-data\n    - X-Client-Type: (e.g., 'papr_plugin', 'browser_extension')\n    \n    **Form Data**:\n    - file: The document file to upload (PDF/HTML/TXT)\n    - metadata: (optional) JSON string containing additional metadata",
                "operationId": "upload_document_v1_v1_document_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "skip_background_processing",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "If True, skips adding background tasks for processing",
                            "default": false,
                            "title": "Skip Background Processing"
                        },
                        "description": "If True, skips adding background tasks for processing"
                    },
                    {
                        "name": "post_objectId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Optional Post objectId for updating status",
                            "title": "Post Objectid"
                        },
                        "description": "Optional Post objectId for updating status"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document upload started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/DocumentUploadResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Upload Document V1 V1 Document Post",
                                    "$ref": "#/components/schemas/DocumentUploadResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Document upload started with degraded functionality",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentUploadResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Subscription limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search": {
            "post": {
                "tags": [
                    "v1"
                ],
                "summary": "Search V1",
                "description": "Search through memories with authentication required.\n    \n    **Authentication Required**:\n    One of the following authentication methods must be used:\n    - Bearer token in `Authorization` header\n    - API Key in `X-API-Key` header\n    - Session token in `X-Session-Token` header\n    \n    **Recommended Headers**:\n    ```\n    Accept-Encoding: gzip\n    ```\n    \n    The API supports response compression for improved performance. Responses larger than 1KB will be automatically compressed when this header is present.",
                "operationId": "search_v1_v1_search_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "max_memories",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Maximum number of memories to return",
                            "default": 20,
                            "title": "Max Memories"
                        },
                        "description": "Maximum number of memories to return"
                    },
                    {
                        "name": "max_nodes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Maximum number of neo nodes to return",
                            "default": 15,
                            "title": "Max Nodes"
                        },
                        "description": "Maximum number of neo nodes to return"
                    },
                    {
                        "name": "Accept-Encoding",
                        "in": "header",
                        "description": "Recommended to use 'gzip' for response compression",
                        "schema": {
                            "type": "string",
                            "default": "gzip"
                        },
                        "required": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully retrieved memories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/SearchResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorDetail"
                                        }
                                    ],
                                    "title": "Response Search V1 V1 Search Post",
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/SearchResult"
                                                },
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "error": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "success"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "detail": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "detail"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetail"
                                }
[...]
